In [1]:
import os
import pandas as pd
import numpy as np


folder_path = './dataset'


filenames = []
labels = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,0,1,1,1,2,2,2]




for filename in os.listdir(folder_path):
    if filename.endswith(('.jpg', '.jpeg', '.png', '.webp', '.avif')): 
        filenames.append(filename)

filenames.sort()
print(filenames)
print(labels)

['01.jpg', '02.jpeg', '03.jpeg', '04.jpeg', '05.jpeg', '06.jpg', '07.jpg', '08.jpg', '09.jpg', '10.jpeg', '11.jpg', '12.jpg', '13.jpg', '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '20.jpeg', '21.jpg', '22.jpg', '23.jpg', '24.jpg', '25.jpeg', '26.jpg', '27.jpeg', '28.jpg', '29.jpeg', '30.jpg', '31.jpeg', '32.jpeg', '33.jpeg', '34.jpg', '35.jpg', '36.jpg', '37.jpg', '38.jpeg', '39.jpeg', '40.jpg', '41.jpeg', '42.jpg', '43.jpeg', '44.jpg', '45.jpg', '46.jpeg', '47.jpg', '48.jpg', '49.png', '50.jpg', '51.jpeg', '52.jpeg', '53.jpg', '54.jpg', '55.jpeg', '56.jpg', '57.jpg', '58.jpeg', '59.jpg', '60.jpg', '61.jpeg', '62.jpeg', '63.jpeg', '64.jpeg', '65.jpg', '66.jpg', '67.jpg', '68.jpg', '69.jpeg']
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 1, 1, 2, 2, 2]

In [2]:

df = pd.DataFrame({
    'filename': filenames,
    'label': labels
})

print(df)

   filename  label
0    01.jpg      0
1   02.jpeg      0
2   03.jpeg      0
3   04.jpeg      0
4   05.jpeg      0
..      ...    ...
64   65.jpg      1
65   66.jpg      1
66   67.jpg      2
67   68.jpg      2
68  69.jpeg      2

[69 rows x 2 columns]

In [3]:
df

   filename  label
0    01.jpg      0
1   02.jpeg      0
2   03.jpeg      0
3   04.jpeg      0
4   05.jpeg      0
..      ...    ...
64   65.jpg      1
65   66.jpg      1
66   67.jpg      2
67   68.jpg      2
68  69.jpeg      2

[69 rows x 2 columns]

In [4]:
df.to_csv('./dataset/image.csv')